body {
    height: 2000px;
    width: 100%;

    padding-top: 15px;
    margin: 0px;

    background-color: black;
}

header {
    position: absolute;
    z-index: 2;
    left: 0px;

    height: auto;
    width: 100%;

    background-color: white;
}

header h1 {
    position: relative;

    margin: 0;
    height: 100%;
    
    font-size: 70px;
    text-align: center;
}

#top_menu {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;

    height: 40px;
    width: 100%;

    background-color: grey;

    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

#top_menu img {
    display: table; 
    /* position relative faz a img e o p ficarem em fila mas ai o bottom 0px não funcionaria*/
    position: absolute; 
    bottom: 0px;

    max-height: 35px;
    height: auto;
    width: auto;
    
    margin: 0px; 
    margin-left: 10px;
}

#top_menu p {
    display: table;

    /* adicionado a margem no <p> do top_menu pq o padding-left adicionado no top_menu fazia o width exceder o tamanho da pagina do browser */
    margin: 0px;
    margin-left: 42px;
}

#menu_1 {
    display: flex;
    flex-direction: row;

    padding: 15px;
    margin-top: 100px;

    height: 320px;
    width: auto;

    background-color: rgb(43, 43, 43, 1);
}

.menu_item {
    display: table;

    margin-right: 15px;

    max-width: 50%;
    height: 100%;
    width: auto;
}

.menu_item h2 {
    margin-bottom: 5px;
    margin-top: 0px;
    color: white;

    text-shadow: 2px 2px 2px black;
}

.menu_item img {
    /* position relative necessario para fazer a imagem se encaixar no menu */
    position: relative;
    max-height: 290px;
    height: auto;
    width: auto;    
}